<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="{{ url_for('static',filename='styles/search.css') }}">
    <title>Add City</title>
    <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/addcity.css') }}"> -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Overpass:wght@100&display=swap');
    </style>
    <title>Add City</title>
</head>
<body>
    
    <nav>
        <ul class="nav-list">
            <li class="nav-link">
               <a href='#' style="color: white; text-decoration: none;"> AIRPORT </a>
            </li>
            <div>
            <a href="/addcity">
              <button class="add-but">
                    Add City
              </button>
            </a>
            <a href="/addroute">
              <button class="add-but">
                  Add Route
              </button>
            </a>
            </div>
            <a href="/addflight">
                <button class="add-but">
                    Add Flight
                </button>
            </a>
        </ul>
      </nav>
    <div class="top">
			<div id="app">  
				<h1>Add City</h1> 
				<form action="/addcity" method = "POST">
					<input type="text" name="name" placeholder="City Name">  
					<button class='btn_add'>Add</button>  
				</form> 
				<ul>  
					{% if data %}
					{% for value in data %}
					<li>
						<p>{{value.name}}</p>
					</li>
					{% endfor %}
				{% else %}
				<p>Insert a CITY</p>  
				{% endif %}
				</ul>  
				
				
			</div>  
		</div>

    <!-- <div class = "container">
        <br>
        <h1>ADD CITY</h1>
        <br>
        <div class = "add">
            <form action="/addcity" method = "POST">
                <input type="text" placeholder="Enter city name....." name="name"/>
                <button type="submit">SUBMIT</button>
            </form>    
        </div>
        <br>
        <div class = "search">
            <form action="/search">
            <button>SEARCH</button>
            </form>
        </div>
        <br><br>
    </div> -->
</body>
</html>