<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Routes</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/addroute.css') }}">
</head>
<body>

    <nav>
        <ul class="nav-list">
            <div class="nav-top">
                <li class="nav-link">
                    <a href='#' style="color: white; text-decoration: none;"> AIRPORT </a>
                 </li>
                 <div>
                 <a href="/addcity">
                   <button class="add-but">
                         Add City
                   </button>
                 </a>
                 <a href="/addroute">
                   <button class="add-but">
                       Add Route
                   </button>
                 </a>
                 <a href="/addflight">
                     <button class="add-but">
                         Add Flight
                     </button>
                 </a>
                 </div>
            </div>

        </ul>
      </nav>

    <div class="top">
        <div class = "container">
            <br>
            <h1>ADD ROUTES</h1>
            <form action="/addroute" method = "POST">
                <!-- <input type = "text" placeholder="FROM..." name = "from" required> -->
                <select name="from">
                    {% for value in cities %} 
                    <option value="{{value.name}}">{{value.name}}</option> 
                    {%endfor%}    
                    </select>
                <!-- <input type = "text" placeholder="TO..." name = "to" required> -->
                <select name="to">
                    {% for value in cities %} 
                        <option value="{{value.name}}">{{value.name}}</option> 
                    {%endfor%}    
                    </select>
                <input type = "text" placeholder="PRICE.." name = "price" required>
                <button type="submit">ADD ROUTE</button>
            </form>
            <br>
        </div>
        <div class="container c2">
            {% for value in data %}
                <div class="list-item">
                    <p>{{value.From}}  --------> {{value.to}}</p>
                    <p>{{value.price}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>