<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
   
   
   <meta name="viewport" content="width=device-width,initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">

   <title>Airline Services</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
   
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style4.css') }}">

</head>

  
    <body>
        
            <header class="header">
                <div class="container">
                    <nav class="nav">
                        <a class="logo">
                            <img src="static/images/logo1.png">
                        </a>
                        <div class="hamburger-menu">
                            <i class="fas fa-bars"></i>
                            <i class="fas fa-times"></i> 
                        </div>
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a href="index.html" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">About</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Offers</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">News</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Contact</a>
                            </li>
                
                        </ul>
                    </nav>
                </div>
            </header>

            <main>
                <div class="hero">
                    <h1 class="title">Airline Management System</h1>
                </div>
                <section class="planes">
                    <div class="container">
                        <h3 class="section-head">
                            <span class="headiing"><ul>Services</ul></span>
                        </h3>
                        <div class="grid">
                            <div class="grid-item planeservices">
                                <img src="static/images/logo1.png" alt="" class="plane-img">
                                <div class="det">
                                    <div class="det1">
                                        <h5 class="plane-name">Coc-Dxb</h5>
                                        <p>Boing - 777</p>
                                    </div>
                                    
                                    <div class="det2">
                                        <p>price: 50000</p>
                                        <a href="#" class="btn btn-gradient">Book Tickets
                                            <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div> 
                            
                        </div>
                        <div class="grid">
                            <div class="grid-item planeservices">
                                <img src="static/images/logo1.png" alt="" class="plane-img">
                                <div class="det">
                                    <div class="det1">
                                        <h5 class="plane-name">Coc-Dxb</h5>
                                        <p>Boing - 777</p>
                                    </div>
                                    
                                    <div class="det2">
                                        <p>price: 50000</p>
                                        <a href="#" class="btn btn-gradient">Book Tickets
                                            <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div> 
                            
                        </div>
                        <div class="grid">
                            <div class="grid-item planeservices">
                                <img src="static/images/logo1.png" alt="" class="plane-img">
                                <div class="det">
                                    <div class="det1">
                                        <h5 class="plane-name">Coc-Dxb</h5>
                                        <p>Boing - 777</p>
                                    </div>
                                    
                                    <div class="det2">
                                        <p>price: 50000</p>
                                        <a href="#" class="btn btn-gradient">Book Tickets
                                            <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div> 
                            
                        </div>
                        <div class="grid">
                            <div class="grid-item planeservices">
                                <img src="static/images/logo1.png" alt="" class="plane-img">
                                <div class="det">
                                    <div class="det1">
                                        <h5 class="plane-name">Coc-Dxb</h5>
                                        <p>Boing - 777</p>
                                    </div>
                                    
                                    <div class="det2">
                                        <p>price: 50000</p>
                                        <a href="#" class="btn btn-gradient">Book Tickets
                                            <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div> 
                            
                        </div>


                    </div>
                </section>
            </main>
         </body>
         <script src="main.js"></script>
</html>