<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
   
   
   <meta name="viewport" content="width=device-width,initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">

   <title>Airline Services</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
   
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style4.css') }}">
   <style>
    @import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
    </style>

</head>

  
    <body>
        
        <header class="header">
            <div class="container">
                <nav class="nav">
                    <div class="nav-cont">
                        <a class="logo">
                            <img src="static/images/logo1.png">
                        </a>
                        <h1 class="title">Airline Management System</h1>
                    </div>
                    <div class="hamburger-menu">
                        <i class="fas fa-bars"></i>
                        <i class="fas fa-times"></i> 
                    </div>
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a href="index.html" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">View Flights</a>
                        </li>
                        <li class="nav-item">
                            <a href="/logout" class="nav-link">logout</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Contact</a>
                        </li>
            
                    </ul>
                </nav>
            </div>
        </header>

            <div>
                <main>
                    <div class="hero">
                        <div class="overlay">
    
                        </div>
                        <section class="planes">
                            <h1>"Flying isn’t dangerous. Crashing is what’s dangerous"</h1>
                            <form action="/viewFlights" method = "POST">
        
                                <select name="rid">
                                    {% for value in data %} 
                                    <option value="{{value.id}}">{{value.From}}---->{{value.to}}</option> 
                                    {%endfor%}    
                                </select>
                    
                                <button type="submit">SEARCH</button>
                            </form>
                            
                        </section>
                    </div>
                    <div class="container">
                        <h3 class="section-head">
                            <span class="headiing"><ul>Services</ul></span>
                        </h3>
                        {% if result %}
                            {% for value in result %}
                                <div class="grid">
                                    <div class="grid-item planeservices">
                                        <img src="static/images/logo.png" alt="" class="plane-img">
                                        <div class="det">
                                            <div class="det1">
                                                <h5 class="plane-name">{{value.routes.From}} - {{value.routes.to}}</h5>
                                                <p>{{value.flights.name}}</p>
                                            </div>
                                            
                                            <div class="det2">
                                                <p>{{value.routes.price}}</p>
                                                {% if value.flights.booked or (value.tickets and value.tickets.flight_id) %}
                                                <a href="" class="btn btn-gradient">Tickets Booked!
                                                    <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                                                </a>
                                                {% else %}
                                                <a href="/book_tickets/{{value.flights.id}}" class="btn btn-gradient">Book Tickets
                                                    <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                                                </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div> 
                                    
                                </div>
                            {% endfor %}
                        {% endif %}
                        


                    </div>
                    
                </main>
            </div>
            <script>
                let header=document.querySelector('.header');
                let hamburgerMenu=document.querySelector('.hamburger-menu');

                hamburgerMenu.addEventListener('click',function() {
                    header.classList.toggle('menu-open');
                })
            </script>
         </body>
         <script src="main.js"></script>
</html>