<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel = "stylesheet" href="{{ url_for('static',filename='styles/login.css') }}"> -->
    <title>Search</title>
</head>
<body>
    <h2>SEARCH FLIGHTS</h2>
    <div class="options">
        <form action="/search">
        <div>
            <label>FROM : </label>
            <select>
            {% for value in data %} 
                <option>{{value.name}}</option> 
            {%endfor%}    
            </select>

        <div>
            <label>TO : </label>
            <select>
            {% for value in data %} 
                <option>{{value.name}}</option> 
            {%endfor%}   
        </div>
        <button type="submit">Search</button>
        </form>
    </div>
    
    <div class="log">
        <table>
            <th>ID</th>
            <th>FLIGHT NAME</th>
            <th>DATE</th>
            <th>PRICE</th>
            {% for value in result %}
              <tr>
                <td>{{value.id}} </td>
                <td>{{value.name}} </td>
                <td>{{value.date}}</td>
                <td>{{value.price}}</td>
              </tr>
            {% endfor %}  
        </table>
    </div>

</body>
</html>