@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin-left : 35%;
	margin-top: 20%;
	border: 0;
	padding: 0;
}

.options
{
    display: flex;
    justify-content: space-evenly;
}

.log{
    width: 60%;
    display: flex;
    justify-content: start;
    height: fit-content;
  }

  tr{
    border-bottom: 1px solid white;
  }
